# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [6]:
# string.lstrip()
name="     parker reidy  "
name2= " xxxxxxxxxparker reidyxxx"
print(name)
print(name.lstrip())
print(name.lstrip('x '))

     parker reidy
parker reidy
parker reidy

##### .rstrip()

In [4]:
# string.rstrip()
print(name.rstrip())

     parker reidy

##### .strip()

In [5]:
# string.strip()
print(name.strip())

parker reidy

##### .title()

In [7]:
# string.title()
print(name.title())
print(name.strip().title())

     Parker Reidy
Parker Reidy

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [8]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
for name in names:
    print(name.lstrip().title())

Connor
Max
Evan
Jordan

In [10]:
num_list = [3, 78, 4, 45, 878, 5675, 23, 1, 45, 7]

### Working With Lists

##### min()

In [13]:
# min(list)
print(min(num_list))

1

##### max()

In [11]:
# max(list)

print(max(num_list))

5675

##### sum()

In [12]:
# sum(list)

print(sum(num_list))

6759

##### sorted()

In [14]:
# sorted(list)

print(num_list)
print(sorted(num_list))
print(num_list)
print(sorted(num_list, reverse=True))

[3, 78, 4, 45, 878, 5675, 23, 1, 45, 7]
[1, 3, 4, 7, 23, 45, 45, 78, 878, 5675]
[3, 78, 4, 45, 878, 5675, 23, 1, 45, 7]
[5675, 878, 78, 45, 45, 23, 7, 4, 3, 1]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [17]:
# list.sort()
print(num_list)
print(num_list.sort())
print(num_list)


# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

[1, 3, 4, 7, 23, 45, 45, 78, 878, 5675]
None
[1, 3, 4, 7, 23, 45, 45, 78, 878, 5675]

In [18]:
print(num_list[3])

7

##### Copying a List

In [21]:
# [:] copies a list, doesn't alter original
# slic notation!!!  Syntax -->  [Start: Stop: STEP]   Just like the range function!
print(num_list[:])
print(num_list[3:])
print(num_list[::-1]) # SIDE-NOTE this is a GREAT way to reverse a string!
print(num_list[3:6:2])

[1, 3, 4, 7, 23, 45, 45, 78, 878, 5675]
[7, 23, 45, 45, 78, 878, 5675]
[5675, 878, 78, 45, 45, 23, 7, 4, 3, 1]
[7, 45]

##### 'in' keyword

In [22]:
print(45 in num_list)
print(46 in num_list)

True
False

##### 'not in' keyword

In [23]:
print(45 not in num_list)
print(46 not in num_list)

False
True

##### Checking an Empty List

In [24]:
# if l_1: or if l_1 = []
not_list = []
#truthiness/Falseyness
# false kinda equals 0, emty lists, dictionaries, None
if num_list:
        print("something is there!")
if not_list:
        print("something is here!")
if not_st:
    print('Somethiing is There!')

something is there!

NameError: name 'not_st' is not defined

##### Removing Instances with a Loop

In [25]:
# while, remove
print(num_list)
num_list.remove(45)
print(num_list)
num_list.remove(45)
print(num_list)

[1, 3, 4, 7, 23, 45, 45, 78, 878, 5675]
[1, 3, 4, 7, 23, 45, 78, 878, 5675]
[1, 3, 4, 7, 23, 78, 878, 5675]

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [30]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
#while 'connor' in names:
#        names.remove('connor')
#print(names)

print(list(set))

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [32]:
# number comprehension

# With a regular for loop

num = []
for x in range(50):
    num.append(x)
print(num)

# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]

n_comp = [x for x in range(50)]
print(n_comp)

n_comp2 = [x**2 for X in range(50)]
print(n_comp2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401, 2401]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [ ]:
# square number comprehension

#See above!

In [34]:
# string comprehension
c_names = [ 'Zak', "Jorge", "Cameron", "Mike"]

f_2 = [name[:2].upper() for name in c_names]
print(f_2)

f_3 = []

for name in c_names:
    f_3.append(name[:2].upper())
print(f_3)

['ZA', 'JO', 'CA', 'MI']
['ZA', 'JO', 'CA', 'MI']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [35]:
tup_1 = 1, 2, 3 # can do this separaed by commas
print(tup_1)
print(type(tup_1))

tup_2 = (1, 2, 3) # Brandt's preferred way of defining a tuple
print(tup_2)
print(type(tup_2))

print(tup_2[0])

for t in tup_2:
    print(t)

(1, 2, 3)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
1
1
2
3

In [37]:
#del tup_2[3] #Tuples are immutable!!!

##### sorted()

In [38]:
tup_3 = (51, 5, 32, 685, 5, 4, 65)
print(sorted(tup_3))

tup_4 = ( 5, 908, 3, 67)
list_4 = [ 5, 908, 3, 67]
print(sorted(list_4))
print(sorted(tup_4))

[4, 5, 5, 32, 51, 65, 685]
[3, 5, 67, 908]
[3, 5, 67, 908]

##### Adding values to a Tuple

In [ ]:
print(tup_4)

## Functions

##### User-Defined vs. Built-In Functions

In [40]:
def hi():
    return "Hi there world!"

print(hi) # this is what the funtion is and where it is

# in order to do anythinh with it, we have to call the function

print(hi())

<function hi at 0x0000012CB47BF100>
Hi there world!

##### Accepting Parameters

In [41]:
# The order Matters!!
def name_hi(first, last):
    return f"Hello there {first.title()} {last.title()}!"
print(name_hi('reidy', 'parker')) # cant use .title() with int

Hello there Reidy Parker!

##### Default Parameters

In [45]:
def name_hi(first, last='Smith'):
    return f"Hello There {first.title()} {last.title()}!"
name_hi('dylan')

#default parameters HAVE to be after non-default parameters!

'Hello There Dylan Smith!'

##### Making an Argument Optional

In [44]:
def full_name(first, middle='', last='smith'):
    return f"Hello there {first.title()} {middle} {last.title()}!"
full_name('dylan')

'Hello there Dylan  Smith!'

##### Keyword Arguments

In [47]:
def name_plus(name, talent='teaching'):
    return f"{name} and they're ood at {talent}"
name_plus('Dylan')
name_plus('Dylan',talent='coding')
# see above

"Dylan and they're ood at coding"

# Creating a start, stop, step function

In [ ]:
def my_range(stop, start=0,)

##### Returning Values

In [49]:
def add(a, b):
    return a + b
add(5, 5)

def mult(a, b):
    print(a* b)

mult(5, 5)

mult(add(5,5), 10)

25
100

##### *args/*Kwargs(aka Keyword arguments)

In [51]:
# stands for aarguments, a in multiple! It mans we can take ANY number of arguments as parameters

def printArgs(num1, *args, **kwargs):
    print(num1)
    print(args)
    
    for arg in args:
        print(arg)
    
    for kwarg in kwargs:
        print(kwarg)
printArgs('Dylan', 'Brandt', 'Parker', 67, 765238764, test='testing', thiskey='arg')

Dylan
('Brandt', 'Parker', 67, 765238764)
Brandt
Parker
67
765238764
test
thiskey

##### Docstring

In [ ]:
"""
I can type in a bunch of things
on multiple lines
common use below!

"""

In [ ]:
def name_looper(l_1, l_2):
    """
    """

##### Using a User Function in a Loop

In [54]:
def to_do(user_input):
    print(f"Awesome, let's do that.  Time to {user_input}")
    
while True:
    ask = input('What do you want to do?\t')
    to_do(ask)
    quitter = input('Ready to quit????')
    if quitter == 'y':
        break

What do you want to do?	Bowl
Awesome, let's do that.  Time to Bowl
Ready to quit????yes
What do you want to do?	hw
Awesome, let's do that.  Time to hw
Ready to quit????y

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
def full(first_name, last_name):
    print()

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [55]:
global_var = "I'm Global!!!!"
z = 56

def local():
    y= 7
    local_var = "Only here. . ."
    return y, local_var

print(global_var)
local()
print(global_var)

# print(local_var)

I'm Global!!!!
I'm Global!!!!

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [61]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]

def sub_ten_nums(l_1):
    O_list = []
    for subten in l_1:
        if subten < 10:
             O_list.append(subten)
    print(O_list)

sub_ten_nums(l_1)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [59]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

def merge_sort(l_1, l_2):
    merged_list = l_1 + l_2
    merged_list.sort()
    print(merged_list)



merge_sort(l_1,l_2)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]